doctype html
html
  head
    title Projet Elsa
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block content