extends layout

block content
    h1 Login
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      input(type='text', name="username", placeholder='Enter Username')
      br
      input(type='password', name="password", placeholder='Password')
      br
      button(type='submit') Submit