extends layout

block content
    h1 Inscription
    br
    span= info
    form(role='form', action="/register",method="post")
      input(type='text', name="username", placeholder='Identifiant')
      br
      input(type='text', name="mail", placeholder='Mail')
      br
      input(type='password', name="password", placeholder='Mot de passe')
      br
      button(type='submit') Envoyer
    br
    a(href='/login') Connexion